[2014-05-12 12:48] beanieboi opened #1 "installation fails"
[code]

What info do you need for further debugging?
OS: 10.9.2

[code]

[2014-05-12 13:23] #1 closed, assigned to nobody

[2014-06-30 07:53] lansz opened #2 "pg_query failed to load with Rubinius 2.2.9"
Error log as:

[code]

[2014-06-30 10:05] #2 closed, assigned to nobody

[2014-07-25 16:05] terrorobe opened #3 "doesn't build against ruby1.8"
[code]

[2015-01-11 17:58] #3 closed

[2015-02-17 22:52] jacobwgillespie opened #4 "Build SQL from AST"
Is it possible to take the parse tree and build a SQL statement?  My use case is renaming tables (like, scanning for each time a relation is named and prepending a prefix).  It seems like it might be possible since normalize is able to rewrite the query, but I'm not sure.

[2015-02-17 23:03] lfittl commented on #4
Technically there is parts of Postgres that can do this, specifically inside `postgres_fdw`
https://github.com/postgres/postgres/blob/master/contrib/postgres_fdw/deparse.c

Since pg_query has access to all of postgres that doesn't require catalog access, it might be possible to add this as a feature - but its a good amount of work for sure.

I'll keep it in my mind and might hack on this when I fi

[2015-02-21 20:36] jacobwgillespie commented on #4
Cool.  For now, I realized that the AST includes a position field, so I'm using that to do string replacements of the table names.  But I'll likely have a use for AST to query at some point, so I may take a stab at it.

All this is for https://github.com/playlist-media/turboquery, which is designed to take queries that execute against a Postgres database (like on RDS) and automate the transfer of

[2015-02-22 02:44] lfittl commented on #4
Nice, that looks like an awesome tool, and using substitutions using the positions in the AST sounds like a good approach :)

I've taken another look, and it looks like the best AST-to-SQL approach might be to just implement the deparsing of the AST in Ruby, since Postgres' own logic is a bit incomplete except for the most basic cases - and its quicker to write this in Ruby anyway.

In case you do

[2015-04-22 04:57] lfittl commented on #4
@jacobwgillespie I'm experimenting with some basic support of this, see the spec for whats supported:

https://github.com/lfittl/pg_query/blob/master/spec/lib/deparse_spec.rb

I'll continuously expand this, is there a specific set of SQL that would need to be supported so this is useful to you? (e.g. all variants of `SELECT`)

[2015-05-02 19:21] jacobwgillespie commented on #4
Hey!  Sorry, late reply.  What I'm modifying are `SELECT` statements and `INSERT INTO table SELECT` statements.  Thanks, looking awesome!

[2015-07-16 23:28] purcell opened #7 "Question: Any examples of warnings?"
Hi! We've released [sqlint](https://github.com/purcell/sqlint), which is built on `pg_query` -- thanks so much for your awesome work!

I noticed that the parse results contain a `warnings` array, which we don't yet use -- do you have any examples of queries which cause `warnings` to be populated? Most of the PG warnings I've come across are issued only when queries are actually executed. Thanks!

[2015-07-17 00:49] lfittl commented on #7
Awesome - great work! :+1:

Very happy to see you using pg_query there, this is exactly the kind of tools its made for :)

`warnings` would be populated if any part of the query was successfully parsed, but its Postgres-internal AST representation could not be converted to JSON.

This used to be a much larger issue, but since I automated this process (https://github.com/pganalyze/pg_query-outfuncs

[2015-07-17 00:49] #7 closed

[2015-07-17 08:58] purcell commented on #7
Ah, I see. Thanks!

I might end up sending a PR in due course, because I'd like to have a version of `tables()` and `filter_columns()` which returns the locations along with the table/column names. The idea would be to (optionally) live-connect to the DB while linting and print warnings if queries appear to reference nonexistent tables/columns. (I think it might end up quite complex in all but sim

[2015-07-17 18:33] lfittl commented on #7
Sure thing, please feel free to send any PRs that make your life easier :)

pg_query is actively used by pganalyze (our hosted Postgres monitoring dashboard), so I might be a bit careful with things that break API, but the case you propose sounds reasonable :+1:

[2015-07-18 00:02] purcell commented on #7
Yep, I'd plan to provide `tables_with_locations` or something like that, and keep all the existing tests passing.

[2015-07-18 00:05] lfittl commented on #7
:+1: :tada:

[2015-07-20 16:55] sshao opened #8 "Sort order dependency on truncations in #truncate"
Hello,

This may wind up being more of a question than an actual issue:

# Context

I was experimenting with making pg_query ruby 1.8.7-compatible for a legacy project. After making some syntax changes, I managed to get all specs passing on 1.8.7 save for [PgQuery#truncate omits target list](https://github.com/lfittl/pg_query/blob/b6cd395afc3ac097cbdd2401e88d7d70fdb2ec9f/spec/lib/truncate_spec.rb#

[2015-07-20 16:59] lfittl commented on #8
Thanks for the detailed write-up!

This code is a fairly recent addition (< 1 week old), and you're definitely right, the sort order there is not stable enough.

I'll see that I can fix this issue and update you when its taken care of.

That said, I'm surprised that Ruby 1.8 works (i.e. we're not using any 1.9 patterns by accident) - is there no way for you to upgrade to a newer Ruby version for t

[2015-07-20 17:23] sshao commented on #8
No problem, thanks for the quick response!

Re: upgrading, unfortunately not at the moment. But there weren't [too many changes needed to make pg_query build & pass specs on 1.8.7](https://github.com/lfittl/pg_query/compare/master...sshao:187_compatible) (ignoring the fact that rubocop had to be nixed due to a dependency issue that I haven't looked into yet). Would you be interested in a 1.8.7-com

[2015-07-20 17:27] lfittl commented on #8
Re: 1.8 compatibility, I'm not really sure to be honest.

It looks like its not too many changes, but it restricts what features we can use (and Ruby 1.8 has been end of life for some time now).

However, if you can get rubocop to work, I'm open to merging your changes in - although we might start using 1.9 features at some future point again.

[2015-08-04 21:29] JackDanger opened #12 "Push the 0.6.0 gem?"
I just switched off sql-parser to pg_query and it's perfect but I need the deparser. Is there anything blocking a 0.6.0 gem release that I could help with?

[2015-08-04 21:36] lfittl commented on #12
For sure, I'm planning for the release this week :)

Ideally I'd like to get https://github.com/lfittl/pg_query/pull/10 by @mme in - but its not a blocker, so happy to already shoot out a stable version tonight if it helps.

[2015-08-04 21:36] JackDanger commented on #12
Awesome :)

[2015-08-04 21:41] mme commented on #12
@lfittl I might find time tomorrow morning to do it :)

[2015-08-05 04:30] #8 closed

[2015-08-05 20:19] lfittl commented on #4
@jacobwgillespie Just released 0.6.0 version of the gem which has deparsing support & should solve your use case :)

[2015-08-05 20:19] #4 closed

[2015-08-05 20:19] lfittl commented on #12
Thanks for your help - pushed 0.6! :guitar:

[2015-08-05 20:19] #12 closed

[2015-08-06 18:07] jacobwgillespie commented on #4
:+1: Thanks!

[2015-08-26 12:23] mme opened #31 "Heroku deployment (flex missing)"
Heroku deployment is a bit painful at the moment (needs a custom buildpack).

Would it be reasonable to drop the flex requirement by providing a pregenerated scan.c file together with the downloaded source code?

[2015-08-26 14:57] mme opened #32 "Heroku build error"
When deploying a second time, heroku uses the C source from the build cache which is left in an invalid state from the first build.

After clearing the cache it works again (only once)

[code]

[2015-08-26 18:08] lfittl commented on #32
Interesting - I'll look into cleaning that up.

[2015-08-26 18:28] lfittl commented on #31
I think thats reasonable, it would be nice to use it without needing the custom build pack.

However this might take a bit, since in order to do it cleanly I'd want to do it after #24 is done. I've been meaning to change the current approach of using a forked Postgres (mostly for the JSON output functions), to using upstream postgres + patch series.

As part of that I can see adding pre-generated

[2015-10-16 11:00] #31 closed

[2015-10-16 11:01] lfittl commented on #32
Fixed by #35

[2015-10-16 11:01] #32 closed

[2015-10-16 14:15] carolfly86 opened #37 "distinct clause"
Hi,
The distinct clause seems a little off to me. Not sure if this is an issue or this is by design. I would think it should be true if there's distinct key word, but it's [nil].
pp PgQuery.parse("select distinct a from t")
#<PgQuery:0x007fa1ca036f60
 @parsetree=
  [{"SELECT"=>
     {"distinctClause"=>[nil],
      "intoClause"=>nil,
      "targetList"=>
       [{"RESTARGET"=>
          {"name"=>ni

[2015-10-16 18:17] lfittl commented on #37
@carolfly86 Thanks for the report - we're using Postgres' own parser here, and I think this is correct.

From reading the source in parsenodes.h:

[code]

(https://github.com/postgres/postgres/blob/master/src/include/nodes/parsenodes.h#L1280)

I think we're translating `lcons(NIL,NIL)` as `[nil]` here - I think this is safe to check for in your own code.

If there is a `DISTINCT ON(x)` clause it w

[2015-10-16 18:46] carolfly86 commented on #37
Thanks for you response. It's a great tool for me :+1:

[2015-10-16 19:10] lfittl commented on #37
Happy to hear - feel free to ask questions like this any time, feedback is also very welcome :+1:

[2015-10-16 19:10] #37 closed

[2015-11-04 23:16] jon-ga opened #38 "load_tables_and_aliases not handling subselects / subqueries"
The following script only produces ["users"], instead of ["enrollments", "users"].

[code]

Given https://github.com/lfittl/pg_query/blob/961411a6741cf40b44a3b3843f89ee4c9ec8f8ad/lib/pg_query/parse.rb#L56-L58, the function will only look at the top-level FROM clause.

Picking apart the targetList, I can find the subquery used in this specific example, and extract the tables it uses:
[code]

Here's

[2015-11-05 01:21] lfittl commented on #38
That indeed looks like a bug - thanks for finding that!

If you want you can submit a PR (ideally with a test case), otherwise I'd be happy to take a look the next couple of days :)

[2015-12-22 23:47] cweiske opened #44 "0.7.2 has syntax errors on ruby 1.9.1"
I'm running Ubuntu 14.04, the current LTS version.

Running `sqlint` that uses pg_query fails:

    /var/lib/gems/1.9.1/gems/pg_query-0.7.2/lib/pg_query/deparse.rb:2:in
     `require_relative': /var/lib/gems/1.9.1/gems/pg_query-0.7.2/lib/pg_query/deparse/alter_table.rb:31:
     syntax error, unexpected tLPAREN_ARG, expecting keyword_do_LAMBDA or tLAMBEG (SyntaxError)
    ... many more of this

See

[2015-12-23 10:21] lfittl commented on #44
@cweiske Hmm, good point - let me see if I can make Ruby 1.9 work over the holidays.

If its purely based on the hash syntax it should be possible to revert this to 1.9 style without problems. I'll update this issue once I know more.

[2016-04-20 19:16] dkolbly commented on #44
FWIW, I was able to get it to load by removing the space between the `->` and `(`, like so:
[code]
etc.

[2016-04-21 03:45] lfittl commented on #44
@dkolbly @cweiske This has been fixed in 0.9.1 and will from now on be tested on Travis as well. Sorry about the inconvenience!

[2016-04-21 03:45] #44 closed

[2016-05-03 14:28] yoid2000 opened #47 "Possible problem with A_CONST in version 0.9.1"
Hi guys...love this gem!

I encountered a problem when I upgraded from 0.7.2 to 0.9.1.

Specifically, the val field within the A_CONST structure is getting set to null when it should not be.

To give an example, I give it this SQL (snippet):

[code]

The produced JSON is this:

[code]

As you can see, the "val" field within "A_CONST" is null.  Also incorrect, the "type" in set as "integer".

When

[2016-05-03 22:11] #47 closed

[2016-05-03 22:13] lfittl commented on #47
@yoid2000 Ah, thats indeed a bug in the `.parsetree` method - thanks for the report!

As a sidenote, 0.9 and newer have a new parse tree format, that matches PostgreSQL's internal format more closely. When you have the time I'd recommend transitioning it - you can access the new method with the `.tree` method on the query object.

Btw, happy that you're using the library - if you can share what yo

[2016-05-04 12:26] yoid2000 commented on #47
@lfittl

Ok, will consider moving to the new format at some point, but we have a fair amount of code that works with 0.7, so don't want to touch it just now.

The project is some anonymized database research we are doing.  The nature of the anonymization is such that we need to place certain restrictions on, and make certain changes to the SQL generated by the analyst.  This is written in perl, so

[2016-05-04 21:19] lfittl commented on #47
@yoid2000 Nice, thats a fascinating use case for pg_query - happy its useful!

In case you encounter any other incompatibilities feel free to open an issue anytime, my goal is to keep the translation layer well-maintained since there are a few projects that depend on the old format.

[2016-06-03 08:49] yoid2000 commented on #47
Quick question:  Is there a way to get a reasonable parsing error
message back from pq_query?  In other words, something that gives an
indication of what is wrong with the SQL syntax.  I scanned your
documentation but didn't find anything.

Thanks,

PF

On 5/4/2016 11:19 PM, Lukas Fittl wrote:

[2016-06-03 13:04] lfittl commented on #47
@yoid2000 Unfortunately the error message can be a bit cryptic at times. The one you get back is the `ParseError`, which gets thrown when the SQL can't be parsed.

It'll also have `.location` accessible, to indicate where in the input string the error lies (or where PostgreSQL thinks it is).

A few examples:

[code]

Does that help / answer the question?

[2016-06-13 16:04] yoid2000 commented on #47
Finally got round to this.  My problem was that I wasn't catching the
ParseError at all.  But now I am and it works fine, so thanks for your
response.

PF

On 6/3/2016 3:04 PM, Lukas Fittl wrote:

[2016-06-13 16:11] lfittl commented on #47
@yoid2000 That makes sense - happy to hear it works for you now :)

[2016-06-17 20:43] jcoleman opened #52 "CTE names are included in tables list"
Currently the following query:
[code]
parses and `#tables` returns `["cte_name", "table_name"]`.

I propose either:
1. `#tables` should return `["table_name"]` only, or
2. `#tables` should remain as is and a new method `#cte_names` should return the list of CTE aliases

Would you be interested in a PR with one of the above solutions?

[2016-06-17 20:48] lfittl commented on #52
@jcoleman Thats a good question - the intent here was probably to get actual relations (i.e. tables/views), rather than CTEs.

Maybe the best way would be change the `#tables` behavior to exclude CTEs, but still add `#cte_names` in case someone needs that (so you could effectively use `q.tables + q.cte_names` in case you wanted both).

PR would be very welcome :)

[2016-06-17 20:50] lfittl commented on #52
Actually, if you are feeling motivated on this topic - it might be nice to traverse into nested SELECTs as well, i.e. fix https://github.com/lfittl/pg_query/issues/38

I can also do that as a follow-up PR, about time that that issue gets fixed.

[2016-06-20 07:16] #38 closed

[2016-06-20 07:18] lfittl commented on #52
@jcoleman Ended up fixing this in https://github.com/lfittl/pg_query/commit/7eb92cb868b0d9909a4d6d1320ef9e1da231d21a

Would be great if you could test it and let me know if there's any further improvements you think would help. I'll probably release 0.11.0 in a few days :)

[2016-06-20 07:18] #52 closed

[2016-06-20 13:27] jcoleman commented on #52
That fixes it for me.

Side note: I had to update bundler to 1.12.5 to be able to use the gem by referencing a git ref...apparently there were issues with git ref + native extensions prior to that: https://github.com/bundler/bundler/issues/4106

[2016-12-28 07:04] Huisong-Li opened #60 "installation fails on windows 10"
when i first time tried to install pg_query i failed
it reminded me to install DevKit
i installed it then test installtion as follow
https://github.com/oneclick/rubyinstaller/wiki/Development-Kit#5-test-installation
DevKit works well
and i tried again to install pg_query, it reminded me as follow:

[code]
i work on windows 10 amd 64
ruby 2.3.3p222 (2016-11-21 revision 56859) [i386-mingw32]
i insta

[2016-12-28 07:26] lfittl commented on #60
@Huisong-Li Thanks for trying out pg_query!

It seems your client fails to verify the certificate when downloading ```https://codeload.github.com/lfittl/libpg_query/tar.gz/9.5-1.4.2``` - this might be due to Ruby on Windows not having a proper list of trusted certificate authorities (CA).

I'm unfortunately not familiar with Ruby on Windows, so can't really advise as to why this is failing.

[2016-12-28 07:35] Huisong-Li commented on #60
@lfittl Thank you all the same!
I will try to install libpg_query by myself.
And then install pg_query again.

[2016-12-28 07:40] lfittl commented on #60
@Huisong-Li Unfortunately the way the gem works, you can't really setup the C library independently right now.

If you can't get the CA certificate issue to work, it might be easiest to fork the gem and adjust the extconf.rb file to accept invalid certificates.

I might also resolve this in a future release by taking an approach similar to the [Go library](https://github.com/lfittl/pg_query_go), w

[2017-02-21 14:45] roehst opened #63 "Port this to a language with rich pattern-matching features"
This library would be amazing in a library with pattern matching, because traversing the AST in Ruby is a bit painful compared toopattern-matching.

Erlang/Elixir have pattern-matching but no algebraic data types.

OCaml and Haskell have Algebraic Data Types. It would be awesome to use this library from any of them!

I think Scala also has pattern-matching and some support for ADTs with case class

[2017-02-21 16:47] lfittl commented on #63
@roehst I don't have working knowledge of any of these - but I like the thought!

Technically you can use the underlying libpg_query library (https://github.com/lfittl/libpg_query) and then build on top of it in a language of your choice, assuming it can link against a C library.

Is that a project you'd be interested in? (happy to assist with all knowledge I do have on the C side)

[2017-08-08 18:19] carolfly86 opened #66 ""Between" and "In" operator doe not have "AEXPR" ?"
Hi,
I'm not sure if this is a feature or bug. I noticed that for "Between" and "IN" operators in where clause the parse tree does not contain the "AEXPR" key. Whereas for "=" operator there's  the 'AEXPR' key
For example:
[code]

[2017-08-08 19:31] #66 closed

[2017-08-08 19:32] lfittl commented on #66
@carolfly86 Thanks for the report - that is indeed a bug, and I just fixed it in https://github.com/lfittl/pg_query/commit/bd1aba2fcbd1774a6b66319423f2f1be8d66410b

I will probably stamp a new release soon, but if helpful I can also make a quick bugfix release just for this - let me know if that'd be helpful.

Also just as a note, if you are developing something new: `.parsetree` is the legacy and

[2017-08-09 00:24] carolfly86 commented on #66
Thanks @lfittl I can wait for the new release.

[2017-08-10 22:39] seanmdick opened #67 "Tables in subselects in joins don't seem to be detected properly"
I found a mind-bendy little corner case.
[code]
I'd expect this to return `['foo', 'bar']` PR incoming to fix it. Thanks for compiling so much of this already.

[2017-08-10 22:47] lfittl commented on #67
Fixed via https://github.com/lfittl/pg_query/commit/4f75f2da1a2a807e612a6d95eb2cfd52808f8efd

Thanks!

[2017-08-10 22:47] #67 closed

[2017-08-10 22:52] lfittl commented on #66
@carolfly86 Release 0.13.2 now which contains this fix - thanks again for reporting!

[2017-08-11 01:26] carolfly86 commented on #66
thanks for fixing it!

[2017-08-16 15:37] jmbeach commented on #60
Same issue.

[2017-09-01 04:22] MSP-Greg commented on #60
I believe the issue is in extconf.rb
[code]

Using windows, `Dir.pwd` will return something like `E:/`, so there's probably a 'double' forward slash.  Also, it seems the tar exe in MSYS2 won't take a window's drive style, so it needs to convert `E:/` to `/e`.

IOW, I tried
[code]
and it didn't work.
[code]
worked fine.  Hope this helps...

[2017-09-01 07:40] vnluc commented on #60
Thank you @MSP-Greg , I did change the   extconf.rb file and it does pass to generate makefile.

##I try make install for this gem. it got new error

D:\ruby\ruby_packages_nobk\rubyinstaller-2.5.0-snapshot-x64_aug29\lib\ruby\gems\2.5.0\gems\pg_query-
0.13.2>make install
generating pg_query-x64-mingw32.def
compiling ./ext/pg_query/pg_query_ruby.c
linking shared-object pg_query/pg_query.so
D:/msys64

[2017-09-05 02:14] ankane opened #69 "Exception when calling tables method"
Hey @lfittl, thanks again for this awesome project.

Someone reported a query to me that throws an error with the `tables` method. Here's the simplest version that reproduces it.

[code]

Backtrace

[code]

[2017-09-05 03:58] #69 closed

[2017-09-05 03:58] lfittl commented on #69
@ankane Thanks for the report :)

Just fixed this in https://github.com/lfittl/pg_query/commit/c86323c4e3ef7fc36ac5d57ae2952d752de994f6 and released as `0.13.3` on Rubygems

[2017-09-05 05:37] ankane commented on #69
Awesome, that was super quick. Thanks!

[2017-09-05 05:39] ankane commented on #69
On a related note, very thankful for the `tables` method. It's super helpful, and very non-trivial from the code.

[2017-09-11 18:09] seanmdick opened #70 "CTEs in UNION queries erroneously list CTEs as tables."
Found an interesting edge case from some client sql:

example:
[code]
Expected:
[code]
Currently:
[code]

PR inbound.

[2017-09-11 18:09] lfittl commented on #70
@seanmdick Good catch - looking forward to your PR :)

[2017-09-11 18:23] seanmdick commented on #70
Like I mentioned in the PR, I'm not entirely sure of the meaning of the
`op` in a statement tree, but it appears that a `withClause` can appear in
at least `op==0` and `op==1`.

On Mon, Sep 11, 2017 at 11:09 AM, Lukas Fittl <notifications@github.com>
wrote:

--
Sean
405 514 3801
sent from my five iphones

[2017-09-11 18:24] seanmdick commented on #70
Like I mentioned in the PR, I'm not entirely sure of the meaning of the
`op` in a statement tree, but it appears that a `withClause` can appear in
at least `op==0` and `op==1`

[2017-09-12 21:49] seanmdick commented on #70
bump in case you missed https://github.com/lfittl/pg_query/pull/71

[2017-09-12 21:51] lfittl commented on #70
Merged #71

[2017-09-12 21:51] #70 closed

[2017-10-18 06:42] Demfier commented on #60
@Huisong-Li I too got the same issue as you but on Ubuntu. Figured out, it was due to my network being behind a proxy. I set the `HTTP_PROXY` variable in `.bashrc` and it worked.

cc @lfittl

[2017-10-18 14:02] MSP-Greg commented on #60
@lfittl

Thought I'd take a look at at this re Windows.  Made some changes here and there.  I'm now stopped at
[code]

Can't seem to find `netdb.h` in the gem or libpg_query-9.5-1.6.2.  Re MinGW installs, I found this in some windows / MinGW library code
[code]

[2017-10-18 16:30] lfittl commented on #60
@MSP-Greg Hmm, I suspect we'd need to teach the [extraction logic](https://github.com/lfittl/libpg_query/blob/9.5-latest/scripts/extract_source.rb) in libpg_query about considering Windows, and keeping the Windows code parts of Postgres intact.

Since I don't have access to a Windows system this makes it a bit difficult for me to help on this, but if someone wanted to work on this, I would recomme

[2017-10-18 17:33] MSP-Greg commented on #60
@lfittl

I did look at the [extraction logic](https://github.com/lfittl/libpg_query/blob/9.5-latest/scripts/extract_source.rb).

Haven't stated it anywhere here, I'm a ruby coder & I build a lot of ruby code (and 'extension' gems) on windows.  But, critical issue, I don't know c.  I can read it and get a general idea, but that's about it.

IOW, even if I had the time...  Thanks.

[2017-10-18 21:12] annaswims opened #73 "undefined symbol: _Static_assert - outdated gcc?"
I'm getting the error  "undefined symbol: _Static_assert".

(just to prove that the db connection works)
[code]
And the real problem...
[code]

Is the problem that I'm using gcc version 4.4.7?  My c knowledge is minimal, and I was hoping someone could confirm that this is the issue before I ask our sysadmin to consider updating gcc.

[2017-10-18 21:14] lfittl commented on #73
Hi @annaswims - thanks for the report.

It seems right now libpg_query requires at least gcc 4.6.0, but we should be good to loosen that restriction a bit to allow earlier versions as well. Let me see if I can get a quick bugfix release out for that today.

[2017-10-19 13:46] annaswims commented on #73
That's wonderful, but don't stress if it's too hard, we can just create a vm with a newer OS/gcc for our use.

[2017-10-20 18:58] #73 closed

[2017-10-20 19:06] lfittl commented on #73
@annaswims A fix for this is now released in version `0.13.4` - if you have a chance would be great if you could verify that indeed fixes it :)

Thanks again for the report!

[2017-10-20 20:17] annaswims commented on #73
That fixed it.  Thanks so much!!!

[2017-11-18 12:33] Willianvdv opened #75 "Deparse with indentation?"
For a while now we're looking for a gem that can format a given (PostgreSQL) query with indentation. There are a couple of them out there, but they can't handle PostgreSQL specifics, have errors in the outputted SQL or can't be found by me.

So my question, do you think it's feasible to use/extend your gem to parse and deparse with indentation? Or even better, did someone already did this?

[2017-11-18 12:46] lfittl commented on #75
@Willianvdv Can you clarify a bit what you mean by "with indentation" - do you mean essentially an opinionated deparse that formats the query a certain way?

As far as I know nobody has done it yet on the basis of this gem (and not familiar with any other efforts besides generic ones that don't support all Postgres syntax), but it wouldn't be too difficult to implement.

A good start for that disc

[2017-11-18 13:29] Willianvdv commented on #75
Yeah! I'm not sure what format flavors there are in the SQL world, but the first hit in Google brought me to http://www.sqlstyle.guide/ which describes some best practices how to make your query readable. I can try to add an optional style parameter to deparse to use this style guide.

[2017-11-18 14:38] lfittl commented on #75
@Willianvdv Sounds good - a PR would be very welcome!

[2018-04-10 13:13] depesz opened #81 "CASE .... is incorrectly deparsed"
There is a syntax like:

`case x when 1 then ... when 2 then ... end`

But current pg_query doesn't seem to deparse it correctly:

    puts PgQuery.parse( "SELECT CASE relkind WHEN 'r' THEN 'TABLE' when 'i' THEN 'INDEX' ELSE 'STH-ELSE' END as type FROM pg_class" ).deparse
    SELECT CASE WHEN 'r' THEN 'TABLE' WHEN 'i' THEN 'INDEX' ELSE 'STH-ELSE' END AS type FROM "pg_class"

Please note the missin

[2018-04-10 13:16] depesz commented on #81
As far as I can tell, changing:

    def deparse_case(node)
      output = ['CASE']
      output += node['args'].map { |arg| deparse_item(arg) }
      if node['defresult']
        output << 'ELSE'
        output << deparse_item(node['defresult'])
      end
      output << 'END'
      output.join(' ')
    end

to

    def deparse_case(node)
      output = ['CASE']
      output << beautify_item(node

[2018-04-10 23:55] lfittl commented on #81
@depesz Good catch - do you want to make a PR (plus test case) to fix?

The previous PRs should give a good example of how to write the test, it shouldn't be too much effort. That said, happy to fix this myself if you prefer :)

[2018-04-10 23:56] lfittl commented on #81
@depesz Actually I just looked through the past PRs - I believe https://github.com/lfittl/pg_query/pull/78 fixes this, but hasn't been released yet.

Can you confirm whether thats the same case? Thanks :)

[2018-04-11 08:05] depesz commented on #81
Yeah, sorry about that, was just checking released version.

[2018-04-11 08:05] #81 closed

[2018-04-11 16:16] lfittl commented on #81
@depesz No worries, my bad for not making a new release - released now as `1.0.2`

[2018-04-12 12:06] depesz opened #82 "DISTINCT ON gets deparsed incorrectly"
Sample:

    [4] pry(main)> puts PgQuery.parse( "SELECT distinct on (a) a, b FROM c ORDER BY a" ).deparse
    SELECT DISTINCT "a", "b" FROM "c" ORDER BY "a"

[2018-04-12 15:01] depesz opened #83 "rspec doesn't work?"
when I tried to run rspec, I got error:

    An error occurred while loading ./spec/lib/fingerprint_spec.rb.
    Failure/Error: @fingerprint_defs ||= JSON.parse File.read(File.join(File.dirname(__FILE__), '../files/fingerprint.json'))

    Errno::ENOENT:
      No such file or directory @ rb_sysopen - /home/depesz/q/pg_query/spec/lib/../files/fingerprint.json
    # ./spec/lib/fingerprint_spec.rb:28

[2018-08-30 19:43] benchub opened #86 "(de?)parse fails"
`print PgQuery.parse("update foo set a=?, b=?").deparse`

drops the comma, resulting in invalid sql

[2018-08-31 04:17] benchub opened #87 "Are schemaname tags used everywhere they are expected to be?"
Is the parse tree supposed to give schemaname tags to schema-qualified columns as well as tables, or just tables?

The tree for

 only has schema tags on the from clause, not the select or where clauses.

[2018-09-07 04:50] benchub opened #88 "deparse fails on CreateTableAsStmt"
`print PgQuery.parse("create temporary table temp as select c from t").deparse` blows up

[2018-09-07 15:30] benchub opened #89 "deparse fails on CopyStmt"
`print PgQuery.parse("COPY t (c1) FROM STDIN").deparse` blows up

[2018-09-07 15:45] benchub opened #90 "deparse fails on ExplainStmt"
`print PgQuery.parse("explain select 1").deparse` blows up

[2018-09-07 15:47] benchub opened #91 "deparse fails on LockStmt"
`print PgQuery.parse("lock table t").deparse` blows up

[2018-09-07 16:34] benchub opened #92 "deparse fails with SQLValueFunctions"
`print PgQuery.parse("select current_timestamp").deparse` blows up

[2018-09-07 16:40] benchub opened #93 "deparse fails with VacuumStmt"
`print PgQuery.parse("vacuum t").deparse` blows up

[2018-09-07 16:42] lfittl commented on #86
@benchub Thanks for opening the issues regarding deparsing!

Your help would be very welcome in fixing these, the logic is in https://github.com/lfittl/pg_query/blob/master/lib/pg_query/deparse.rb and shouldn't be too hard to understand. We should also make sure to add tests for each of these cases, so it doesn't regress in a future Postgres version.

[2018-09-07 16:45] lfittl commented on #87
@benchub Since the library works with the parse tree before analysis, it will only have the items that are directly in the relevant AST node, and they might be named slightly different.

In your example, for the SELECT target list we see the following:

[code]

(schema name is present as the first field for a ResTarget)

For the WHERE clause the structure is the same:

[code]

Again the first fiel

[2018-09-07 16:45] benchub commented on #86
To be honest I was hoping to see how you fixed them while I got the rest of my stuff in order. :) And what I really need is to figure out how to do it all the go library, anyway. Which, doesn't look to be hard… just drudgery.

[2018-09-19 11:26] herwinw opened #94 "Deparse skips NULLS FIRST/LAST in ORDER BY"
[code]

They do appear in the parse tree as `sortby_nulls`

[code]

They appear to be [supported upstream](https://github.com/postgres/postgres/blob/master/contrib/postgres_fdw/deparse.c#L3163), although I'm not sure this upstream library is used here (haven't really looked at the code yet)

[2018-09-19 17:03] herwinw opened #96 "Generate structure of objects instead of hash when parsing"
Be warned: this is a feature request that is going to need a heavy restructuring of the code.

Currently, parsing a query results in a `PgQuery` object that has a few methods and mainly relies on a heavy hash/array-structure.

[code]

Most operations on the data need to be performed via the tree structure. An example from the README:

[code]

I was reworking some unit tests earlier today that trie

[2018-09-20 06:36] lfittl commented on #96
@herwinw I think thats a very interesting idea, but as you say it would be a heavy restructuring.

I wonder if to start, you could build a sample case that converts the internal hash structure to a object-based structure for common SELECT queries?

That would allow us to validate whether this makes sense to support generally. Note that the hash structure itself comes from the JSON output from [lib

[2018-09-20 06:38] lfittl commented on #94
@herwinw The upstream deparsing code isn't used, since it isn't really compatible with raw parsetrees as they are in use here.

Would you be open to make a patch, similar to e.g. https://github.com/lfittl/pg_query/pull/79?

[2018-09-20 06:40] #94 closed

[2018-09-20 13:02] herwinw opened #98 "deparse fails with DoStmt"
[code]

(I'll probably have a look at it next week, don't have time for it now, just creating this ticket as a reminder)

[2018-09-20 16:54] #93 closed

[2018-09-26 18:29] #86 closed

[2018-09-28 08:43] #82 closed

[2018-10-02 17:40] #91 closed

[2018-10-02 17:41] #92 closed

[2018-10-02 17:41] #88 closed

[2018-10-02 17:46] herwinw opened #106 "Extract information on SQL value functions from Postgres source"
https://github.com/Quarantainenet/pg_query/blob/d3c4889ce03ca5b923509de83b60d62675000524/lib/pg_query/deparse.rb#L791

This lookup table is duplicated from the postgres source, and guaranteed to get out of sync at some point in the future. This should be generated from the postgres source instead

(Future work from #103)

[2018-10-02 18:18] #90 closed

[2018-10-02 18:19] #83 closed

[2018-10-03 21:06] #89 closed

[2018-10-04 14:13] herwinw commented on #106
There are more issues like this in the deparse source. Some example:

Constraint types
[code]

Vacuum options:
[code]

[2018-10-04 18:56] #87 closed

[2018-10-04 19:17] #98 closed

[2018-10-16 21:15] benchub opened #111 "COPY no longer blows up, but..."
`print PgQuery.parse("COPY (SELECT 1 from foo) TO STDOUT").deparse`

returns just

`COPY  TO STDOUT`

That seems suboptimal.

[2018-10-18 07:13] herwinw commented on #111
I guess this is not the only location where some functionality in deparse is missing, so more cases like this are likely to appear.

[2018-10-24 09:43] herwinw opened #113 "Incorrect deparse on calling stored procedures with indirection"
Stored procedures can return records with named columns:

[code]

It is possible to get specific columns with indirection, basicly wrapping the call to the stored procedure in parentheses and treating it like something with columns:

[code]

This is being parsed:

[code]

(This is why I called this "indirection", I really had no idea what it was called before)

But deparsing this drops the parenth

[2018-10-24 09:44] herwinw commented on #113
Yes, I might have a look at it later this week

[2018-10-24 11:17] herwinw opened #114 "GRANT statements are not deparsed"
[code]

[2018-10-24 11:19] herwinw commented on #114
(Yes, I'll fix it as soon as I have the time available ;) )

[2018-11-12 13:40] herwinw opened #118 "CREATE AGGREGATE is not deparsed"
[code]

This results in:

[code]

The `kind` in the output implies there are a lot more possibilities here than just the AGGREGATE

[2018-11-12 13:43] herwinw commented on #118
Possible kinds (source: src_backend_parser_gram.c):

* OBJECT_AGGREGATE
* OBJECT_OPERATOR
* OBJECT_TYPE
* OBJECT_TSPARSER
* OBJECT_TSDICTIONARY
* OBJECT_TSTEMPLATE
* OBJECT_TSCONFIGURATION
* OBJECT_COLLATION

[2018-11-12 13:58] herwinw commented on #118
`gram.y` in the Postgresql-sourcetree has some information on how to create these kinds

[2018-11-16 16:47] herwinw opened #122 "Deparse CREATE SCHEMA"
Can't deparse: CreateSchemaStmt: {"schemaname"=>"xxxxx"} (RuntimeError)

[2019-01-15 07:18] primeapple opened #123 "deparse can't handle 'ILIKE'"
Hi everyone,
just wanted to update you, that I found a problem in this wonderful application!

When trying to parse:
[code]

The wrapper throws an Exception (this is with a different query, but also with ILIKE):

[code]

I would think this is kind of easy to fix, unfortunately I'm really bad with ruby, so I won't be able to help :(

greetings

[2019-01-15 07:29] primeapple opened #124 "'nil'-Error when deparsing certain queries"
Also I found another bug:

When trying to deparse:
[code]

I get an the following error:
[code]

I think this definitely is a bug and should be fixed because something is nil, that certainly shouldn't be null. (bad bad guy, dynamic typing in ruby :-) )

[2019-01-23 19:05] primeapple opened #125 "Problem when deparsing 'EXCEPT'"
Hi there,

I just found another bug in deparse. (Btw, @lfittl , i'm probably going to find some more, since I'm testing this a lot currently. Do you want me to continue submitting bugreports or should I stop to not fill your issues list up?)

This bug is when you use a query that contains the `EXCEPT` keyword and then try to deparse the query. This problem seems to be something deeper, since it do

[2019-01-29 09:21] herwinw commented on #125
I would say to just keep them coming. I'm pretty sure the deparse module is far from complete (there are a few PRs open to improve it).

[2019-02-01 07:36] primeapple opened #126 "deparse can't handle Grouping Sets"
Hey everyone,

I found another issue with the deparse() function.
This time it is about Grouping Sets and Operators like Drill Down and Roll Up, see: https://www.postgresql.org/docs/devel/queries-table-expressions.html#QUERIES-GROUPING-SETS

Example:
[code]

The same is with RollUp and Cube:
[code]

[2019-02-22 09:04] primeapple opened #127 "Problem when deparsing a query with multiple columns in parentheses in "GroupBy Clause""
Hi, back here with another issue:

When we have a query like
[code]
It is the same as
[code]
However it is not the same as:
[code]
as the last one is not executable anymore (error: `column "student.id" must appear in the GROUP BY clause or be used in an aggregate function `

I am not so sure how GROUP BY ROW works, so please have a look over it :)

[2019-02-22 09:14] primeapple opened #128 "Problem when deparsing query with renamend Columns"
Hi, another one:

We have an original query like:
[code]
When we parse and deparse it, we get:
[code]
which is not parsable anymore.

Bonus:
The queries:
[code]
and
[code]
are NOT the same, since the column is named `TEST` in the first one and `test` in the second one.

The problem is, that **quote signs are removed when deparsing the query** which is bad. There are multiple other situations, wher

[2019-02-22 09:22] primeapple opened #129 "Problem when deparsing Queries with UNION"
And another one:

"SELECT * FROM \"test\" UNION SELECT * FROM \"test2\""
We have the (quite stupid) query:
[code]

When we parse and deparse this query we get something very very funny:
[code]
Now this is amazing. It seems, that when you deparse something with UNION, you forget everything else (WITH, ORDER BY, probably HAVING, ...)

[2019-02-22 09:51] primeapple opened #130 "Deparse changes type "float" to non-existing type "double""
Filling your issuelist up!

We have a query where we do casting
[code]
First of all, I'm very amazed, that this can be deparsed at all. It really shows how deep you dived into this and I very much appreciate it!
However we have a little problem, the query is deparsed to:
[code]
which can't be executed (at least in my postgres version) because:
`ERROR: type \"double\" does not exist`

[2019-02-22 09:59] primeapple opened #131 "Deparse drops parentheses in Expressions"
This one is quite important, it gave me troubles a lot of times:
Consider the query, to show all students with an ID between 5 and 8 (6,7):
[code]
When we parse and deparse it we get:
[code]
Which is all the students with and ID below 8 and not over 5, so 0,1,2,3,4,5.

This one happens a lot of times in expressions!

Bonus:
Parenthesis are also dropped in JOINs:
`FROM (student JOIN class using(id)

[2019-02-22 10:09] primeapple opened #132 "Deparse doesn't work correctly with the ALL operator"
Consider the query:
[code]
When deparsing the query we get the unexecutable query:
[code]

[2019-06-08 22:46] mvgijssel opened #137 "Implement DISCARD_STMT new version of pg_query"
The DISCARD_STMT constant is only available in master. Let's implement this when there is a new version of [pg_query](https://github.com/lfittl/pg_query).

See https://github.com/lfittl/pg_query/blob/master/lib/pg_query/node_types.rb#L38

[2019-06-08 22:48] #137 closed

[2019-06-08 22:49] mvgijssel commented on #137
Whoops 😅, wrong repo 🙈

[2019-06-08 22:58] mvgijssel commented on #137
https://github.com/mvgijssel/arel_toolkit/issues/55

[2019-06-11 06:57] emin100 commented on #123
Solved with #133

[2019-06-12 13:34] himanshu-pro opened #138 "Casting columns to boolean doesn't work"
Command: `PgQuery.parse("Select x::boolean").deparse`

Expected: `SELECT "x"::boolean`

Actual: `SELECT FALSE`

[2019-06-12 13:36] himanshu-pro commented on #138
This is because expected behaviour for `PgQuery.parse("Select 't'::boolean").deparse` is `SELECT TRUE` but `deparse_typecast` is not checking if `node['arg']` is `A_CONST` or not..

[2019-06-12 14:14] himanshu-pro opened #141 "BUILD ERROR -- bundler not found"
ERROR:
[code]
Please see for resolution https://bundler.io/blog/2019/01/04/an-update-on-the-bundler-2-release.html

[2019-06-13 07:32] himanshu-pro opened #142 "Arguments in custom types get dropped"
query : `CREATE TABLE types (a geometry(point) not null)`
command : `PgQuery.parse(query).deparse`
expectation : `CREATE TABLE "types" (a geometry("point") NOT NULL)`
actual : `CREATE TABLE "types" (a geometry NOT NULL)`

[2019-06-14 08:07] himanshu-pro commented on #141
@lfittl Please help..

[2019-06-14 08:10] himanshu-pro commented on #141
Following PRs are encountering the issue..

https://github.com/lfittl/pg_query/pull/139
https://github.com/lfittl/pg_query/pull/140
https://github.com/lfittl/pg_query/pull/143

Please tell me if this is an issue on my end.. Thanks..

[2019-07-01 06:55] #111 closed

[2019-07-01 06:55] #113 closed

[2019-07-01 07:15] lfittl commented on #141
@himanshu-pro Could you rebase to the latest master?

This seems to have been an issue with the specific Ruby version. Thanks!

[2019-07-01 08:22] lfittl commented on #122
Fixed by https://github.com/lfittl/pg_query/commit/ef5fc6b24a8ee38da11ad5fd0957a83acf4afc0e

[2019-07-01 08:22] #122 closed

[2019-07-01 08:22] lfittl commented on #114
Fixed by https://github.com/lfittl/pg_query/pull/115

[2019-07-01 08:22] #114 closed

[2019-07-01 08:23] #123 closed

[2019-07-01 08:23] lfittl commented on #132
Fixed in https://github.com/lfittl/pg_query/commit/1c6f2a075478d68abe3fffa04cf4221cabdf5ad1

[2019-07-01 08:23] #132 closed

[2019-07-01 08:24] lfittl commented on #129
Fixed by https://github.com/lfittl/pg_query/commit/823155cec95a7e720633b2f498581b92a18722fb

[2019-07-01 08:24] #129 closed

[2019-07-01 08:25] lfittl commented on #128
Fixed by https://github.com/lfittl/pg_query/commit/100a0c57b775b85056ef5a2367da43e567b5a3ab

Note that this tries to determine when escaping is needed (anytime an identifier is not `\w+`, or a keyword), and applies it only in such cases. There isn't a good way to get back to the way this was specified originally in the parse string, since we work with the the post-parse AST that doesn't keep the o

[2019-07-01 08:25] #128 closed

[2019-07-01 08:26] lfittl commented on #125
Fixed by https://github.com/lfittl/pg_query/commit/823155cec95a7e720633b2f498581b92a18722fb

[2019-07-01 08:26] #125 closed

[2019-07-01 08:26] lfittl commented on #124
This should be fixed by https://github.com/lfittl/pg_query/commit/823155cec95a7e720633b2f498581b92a18722fb

[2019-07-01 08:27] #124 closed

[2019-07-01 08:44] emin100 opened #144 "Improve Parser and Deparser"
Hi,

I extract sql examples in PostgreSQL documentation and test with pg_query. I'm thinking of fixing it all. How should we proceed? Results and errors:
[Test Results](https://github.com/emin100/extract_postgresql_documentation_sql_examples/blob/master/results/deparse_.result)
[Parser Errors](https://github.com/emin100/extract_postgresql_documentation_sql_examples/blob/master/results/deparse_pars

[2019-07-01 08:49] lfittl commented on #144
Nice, thats a great effort!

We could consider using your logic in `extract.rb` to automatically generate the deparse tests - i.e. have a Ruby spec read a JSON file or similar, that has the SQL statements to be tested.

To start with, maybe we can pick one subsection of the documentation, agree on the extract/test approach (and how it can be integrated here), and then we proceed with the other sec

[2019-07-01 08:51] lfittl commented on #144
Oh, and also a minor note: I realize your repository is licensed under GPL. Please note that this repository is licensed under MIT license, so any contribution is considered to be made under the MIT license as well.

Its your choice if you'd like to contribute of course (and thus relicense your code), but wanted to point this out to be clear.

[2019-07-01 09:03] emin100 commented on #144
I change the license BSD-3-Clause. Is this okay for you?

[2019-07-01 09:15] emin100 commented on #144
Make sense, automatically generate the deparse tests. Then, In order of importance, we can choose which ones to fix first.

[2019-07-02 10:24] himanshu-pro commented on #141
@lfittl Thanks a lot.. Have made the appropriate changes..

[2019-07-02 10:24] #141 closed

[2019-11-08 02:00] alex-jh-jiang opened #159 "can support parse "merge into "?"
hi, i'm very interest in pg_query, my rdbms is vertica, but below parsed failed, help!!!

irb(main):551:0> PgQuery.parse("MERGE INTO APDSP.LCP_SYS_USER TAR
irb(main):552:1" USING SFULL.S14_KM_STAFFINFO SRC ON TAR.USER_ID = SRC.USERID
irb(main):553:1" and (SRC.VC_STATUS is null or SRC.VC_STATUS<>'leave')
irb(main):554:1" WHEN MATCHED THEN UPDATE SET USER_NAME = OPERATORNAME,DEPARTMENTID =ORGCODE,OP

[2019-11-11 03:04] lfittl commented on #142
Merged #143 - thanks for working on this!

[2019-11-11 03:04] #142 closed

[2019-11-11 03:05] lfittl commented on #159
Hi @alex-jh-jiang We only support official PostgreSQL syntax, since this is built on the Postgres parser.

Therefore we unfortunately won't add support for `MERGE INTO` and other non-Postgres syntax. It would lead to all kinds of complications as we update the library for new Postgres versions.

[2019-11-11 03:05] #159 closed

[2019-12-19 06:16] ZhirongYuan0628 opened #160 "Is there a complete list of nodes and a node's information?"
Hi, your work is impressive :) I have some doubts, what is the complete format of parsetree's json? I will need it because I need to traverse the parsetree to extract specific information.
For example, the parse tree of PgQuery.parse ("select count (*) from page") has node FunCall, while PgQuery.parse ("select * from page") does not. If I don't know the existence of FunCall node, it will make my t

[2020-03-13 15:20] imcvampire opened #167 "Build failed on MacOS with asdf"
If I install, build and run on MacOS with `asdf-vm` (a version manager), I face an error when start rails

[code]

[2020-04-18 23:31] ankane opened #169 "PgQuery::ParseError with `normalize` and parameterized intervals"
Hey @lfittl, thanks again for this great project!

`PgQuery.normalize` throws `syntax error at or near "$1" (scan.l:1121) (PgQuery::ParseError)` for queries have already been parameterized that use `interval`. It doesn't throw an error for other queries that have been parameterized. I discovered this while running queries from `pg_stat_statements` through `normalize` - most succeeded but ones with

[2020-04-18 23:47] lfittl commented on #169
Thanks for the report @ankane!

Ultimately this is a problem with the Postgres parser:

[code]

You could consider doing a simple regexp to fix up the query text before passing it to the normalize function, as a workaround.

The proper solution here would be to fix the pg_stat_statements handling upstream - I'd rather try to avoid patching the parser in libpg_query for this.

[2020-04-18 23:58] ankane commented on #169
Hey @lfittl, thanks for crazy fast response, root cause, and workaround! Will close this out.

[2020-04-18 23:58] #169 closed

[2020-08-03 12:23] domfranke opened #173 "Fingerprints for queries with different where predicate order are not equal"
I'm not sure if that's expected behaviour or not, but finger prints for queries that only have a different predicate order are not equal:

Example script:
[code]

Example result of the script:
[code]

[2020-08-04 19:51] Divyashivakumar10 opened #174 "Does this module exists in python?"
hey is there any module like this that can modify a  parsed sql and generate new sql in python ?

[2020-12-27 01:58] ankane opened #179 "Support for Ruby 3"
Hi @lfittl, thanks for this awesome project! With the latest version, installation fails for Ruby 3 with:

[code]

Looking at `extconf.rb`, I think it needs to use `URI.open` instead of `open` based on the Ruby 2.7 deprecation warning (`warning: calling URI.open via Kernel#open is deprecated, call URI.open directly or use URI#open`).

[2020-12-27 21:31] stanhu commented on #179
I think this may be covered by https://github.com/lfittl/pg_query/pull/178?

@lfittl Perhaps this warrants a new release now?

[2020-12-28 20:48] #179 closed

[2020-12-28 20:49] lfittl commented on #179
@ankane @stanhu Yup, agreed, thats a good reason for a release - `1.3.0` has been released now & pushed to Rubygems.

Happy holidays! 🎆

[2020-12-28 20:51] lfittl commented on #174
Please see https://github.com/lfittl/libpg_query#resources - there are two Python libraries referenced there (I'm not involved in these projects, but they may also feature deparsing capabilities).

[2020-12-28 20:51] #174 closed

[2020-12-28 22:59] ankane commented on #179
Awesome, thanks @lfittl! Happy holidays to you, too.

[2020-12-28 23:27] ankane commented on #179
Just fyi, it looks like `URI.open` is private in Ruby < 2.5, so it may make sense to add `s.required_ruby_version = ">= 2.5"` to the gemspec.

[2020-12-28 23:36] lfittl commented on #179
@ankane Yeah, I noticed that earlier. Given that Ruby < 2.5 is EOL, I think its probably fine to not handle that? (unless you see a benefit in adding it to the gemspec?)

[2020-12-29 00:33] ankane commented on #179
If it was part of the 1.3.0 release, Bundler would install 1.2.0 on Ruby 2.4 instead of failing with 1.3.0, so may just be something to keep in mind for next time.

[2021-01-12 16:09] paulolopesrb commented on #60
Any updates on this? Got the same issue :/

[2021-02-01 14:00] YorickPeterse opened #184 "INCLUDE for indexes isn't supported"
The following SQL query is valid starting with PG 11 (see https://www.postgresql.org/docs/11/sql-createindex.html), but doesn't parse with version 1.3.0 of this Gem:

[code]

This produces the following error:

[code]

Looking at https://github.com/lfittl/pg_query/blob/master/ext/pg_query/extconf.rb#L7, this seems to happen because the Gem builds itself against PG 10, which doesn't yet support thi

[2021-02-01 23:18] stanhu commented on #184
It sounds like this will be resolved once PostgreSQL 12 support is shipped: https://github.com/lfittl/libpg_query/pull/67

[2021-02-08 22:06] paulgaumer opened #185 "Add support for ARM64(AARCH64) architecture"
Hi,

`pg_query_go` recently got support for arm64 via [this ticket](https://github.com/lfittl/pg_query_go/issues/27).

I'm facing the exact same issue related to `port/atomics/arch-arm.h` with the `pg_query` gem on the new Macbook M1.

Would it be possible to add support for it? 🙏

**Error message:**
[code]

[2021-02-08 22:09] lfittl commented on #185
@paulgaumer Can you try upgrading to 1.3.0? (see CHANGELOG: https://github.com/lfittl/pg_query/blob/master/CHANGELOG.md#130-----2020-12-28)

That should fix ARM support :)

[2021-02-08 22:28] paulgaumer commented on #185
My bad! That's great, thanks a lot for the quick reply @lfittl.

[2021-02-08 22:28] #185 closed

[2021-03-01 05:49] lfittl commented on #184
@YorickPeterse As @stanhu notes, that will be resolved once the parser is updated (https://github.com/lfittl/pg_query/pull/187 is the correct tracking PR for that).

[2021-03-18 07:12] lfittl commented on #184
@YorickPeterse And this is released now as `2.0.0`, thus closing the issue. Thanks for the report!

[code]

[2021-03-18 07:12] #184 closed

[2021-03-18 08:03] bquorning opened #191 "Installation failure with v2.0.0"
Trying to install v2.0.0, I get a failure:
[code]

`'postgres.h' file not found` seems to be the important bit.

[2021-03-18 08:11] olleolleolle commented on #191
Perhaps these files need to be listed as `files` and a new release cut?

https://github.com/pganalyze/pg_query/blob/main/pg_query.gemspec#L17

[2021-03-18 08:11] lfittl commented on #191
@olleolleolle Good catch - let me push up a patched release.

(somehow this didn't show in my local testing)

[2021-03-18 08:20] lfittl commented on #191
@olleolleolle @bquorning Alright, v2.0.1 should fix this (and works in my testing on a separate box)

Also the difference in gem size clearly shows we got some more things now :)

[code]

[2021-03-18 08:23] bquorning commented on #191
Yes, I got v2.0.1 installed now. Thank you for the fast response @lfittl ❤️

[2021-03-18 08:23] #191 closed

[2021-03-18 08:25] lfittl commented on #191
@bquorning Awesome!

Also be aware that v2.0.0 (or rather v2.0.1 now) is a breaking release, hence the major version number increase.

Depending on your use case for pg_query, you may want to pin to the v1.3.0. Let me know if you notice anything else!

[2021-03-18 14:10] YorickPeterse commented on #184
@lfittl Thanks!

[2021-03-18 22:45] lfittl commented on #126
@primeapple Late reply, but this has been fixed now in the 2.0 release!

[code]

[2021-03-18 22:45] #126 closed

[2021-03-18 22:46] lfittl commented on #131
Fixed in pg_query 2.0!

[code]

[2021-03-18 22:46] #131 closed

[2021-03-18 22:47] lfittl commented on #138
Fixed in 2.0:

[code]

[2021-03-18 22:47] #138 closed

[2021-03-18 22:48] lfittl commented on #130
This is has been fixed via https://github.com/pganalyze/pg_query/pull/139 (and is also fixed in the 2.0 release)

[2021-03-18 22:48] #130 closed

[2021-03-18 22:49] lfittl commented on #106
@herwinw This should be addressed with the new 2.0 release, which has full enum types (generated via the Protobuf integration) instead of integer values - the lookup tables are now gone from this library, and instead auto-generated :)

[2021-03-18 22:49] #106 closed

[2021-03-18 22:51] lfittl commented on #127
Fixed in 2.0!

[code]

[2021-03-18 22:51] #127 closed

[2021-03-18 22:52] lfittl commented on #63
Closing this since there has been no recent activity (and this was more of a question than an issue anyway) - thanks!

[2021-03-18 22:52] #63 closed

[2021-03-18 22:53] lfittl commented on #96
@herwinw This has now been implemented in the new 2.0 release, which uses full Ruby classes in the parse tree result. Thanks for opening this a few years ago!

See the README for how it works: https://github.com/pganalyze/pg_query#parsing-a-query

[2021-03-18 22:53] #96 closed

[2021-03-18 22:57] lfittl commented on #173
@domfranke Thanks for the report, this required a change in the fingerprinting logic, which has now been released in pg_query 2.0: https://pganalyze.com/blog/pg-query-2-0-postgres-query-parser#fingerprints-in-pg_query-a-better-way-to-check-if-two-queries-are-identical

Your example queries now all show the same fingerprint:

[code]

Note that pganalyze itself will be updated to the new fingerprint

[2021-03-18 22:57] #173 closed

[2021-03-18 22:59] lfittl commented on #160
@ZhirongYuan0628 The new 2.0 release now has full class types for each node, making it much easier to to what you're describing.

You can see this in the example in the README here: https://github.com/pganalyze/pg_query#parsing-a-query

They are based on the Protobuf format of the parse tree, you can see it for reference here: https://github.com/pganalyze/libpg_query/blob/13-latest/protobuf/pg_que

[2021-03-18 22:59] #160 closed

[2021-03-18 23:00] lfittl commented on #167
@imcvampire Hmm, I can't reproduce this here (`rbenv` on MacOS)

Do you see the same problem in the new 2.0 release?

[2021-03-18 23:03] lfittl commented on #75
Closing this, since the issue has become stale, and the deparser-based efforts described here unfortunately didn't pan out at the time.

If one were to attempt this, please be aware that the deparser has moved to the C library (context: https://pganalyze.com/blog/pg-query-2-0-postgres-query-parser#turning-parse-trees-back-into-sql-using-a-deparser), and it would need to be implemented there.

That

[2021-03-18 23:03] #75 closed

[2021-03-18 23:04] lfittl commented on #144
@emin100 I think with the new deparser in the 2.0 release, this should address all known limitations with the deparser.

I'll close this issue for now, and wanted to thank you again for your many contributions over the years. It has helped a lot to write the new C-based deparser, to have all the examples you have provided :)

[2021-03-18 23:04] #144 closed

[2021-03-18 23:06] lfittl commented on #60
@paulolopesrb No updates yet - Windows support is a known limitation right now.

I've tried to get this into the new 2.0 release, but ultimately ended up not making it because of time constraints. This is still on my list though, and I hope to get to it in the next months.

Contributions are welcome, but they'd need to be made in libpg_query directly - if you can figure out the necessary header ch

[2021-03-22 18:49] mikewindow opened #196 "Build fails on Apple Silicon"
`gem install pg_query -v '2.0.1'` has errors.

[build.log](https://github.com/pganalyze/pg_query/files/6184643/build.log)

[2021-03-22 18:49] mikewindow commented on #196
Build log:

[code]

[2021-03-22 18:55] mikewindow commented on #196
https://github.com/tesseract-ocr/tesseract/issues/2830 and https://github.com/IntelRealSense/librealsense/issues/8090 seem to be similar.

[2021-03-22 19:01] lfittl commented on #196
@mikewindow Thanks for the report - I can reproduce, will work on a fix!

[2021-03-31 21:56] ankitchachada opened #202 "fails to create makefile if username contains .c"
I was trying to install the gem on my machine and my username(on my mac machine) is ankit.chachada but due to https://github.com/pganalyze/pg_query/blob/024a013924ce9d0ff3d6fa327f25274ad5934c3c/ext/pg_query/extconf.rb#L8 while executing extconf.rb it is replacing **.c to .o** which is failing to install the gem.
Following is the output:
[code]

I did a dirty fix to resolve this by adding new line`

[2021-03-31 22:02] #196 closed

[2021-03-31 22:05] lfittl commented on #202
@ankitchachada Thanks for the report - this was already fixed in https://github.com/pganalyze/pg_query/pull/198 - I'll cut a new release today with the fix.

[2021-03-31 22:10] #202 closed

[2021-03-31 22:15] lfittl commented on #202
@ankitchachada Released now as 2.0.2 :)

[2021-04-01 23:23] ghost opened #204 "google-protobuf dependency doesn't work on Apple Silicon"
After upgrading to pg_query 2.0.2 I can't run rails server or console.

[server.log](https://github.com/pganalyze/pg_query/files/6246901/server.log)

[2021-04-01 23:28] mikewindow commented on #204
https://github.com/protocolbuffers/protobuf/issues/8199 could be related

[2021-04-01 23:33] mikewindow commented on #204
https://github.com/protocolbuffers/protobuf/issues/8372#issuecomment-802309499 is a workaround for this issue.

Add this to Gemfile:
[code]

[2021-04-06 09:01] kaspernj opened #209 "Failed to parse tree: Error occurred during parsing"
After upgrading I am suddenly starting to get these errors? There isn't much to go from in the error message.

The query is pretty long and generated using CanCan and Ransack:
[code]

The SQL doesn't throw an error when used with `Contact.find_by_sql(query)`.

[2021-04-06 15:39] jirutka commented on #204
Why is this gem needed anyway? I’d really like to avoid this Google’s crap in the dependencies.

[2021-04-06 15:43] lfittl commented on #209
@kaspernj Thanks for the report!

This most likely is due to the parse tree depth exceeding 64 levels, and hitting this issue in the Protobuf library: https://github.com/protocolbuffers/protobuf/issues/1493

Note the C level functions work fine (i.e. `PgQuery.normalize` and `PgQuery.fingerprint`), it's just the Ruby layer that can't deal with this right now.

What's your use case for PgQuery, coul

[2021-04-06 15:48] kaspernj commented on #209
I am making a very dynamic API using Ransack and CanCan. Postgres has a lot of limitations in regards to distinct, order and group which requires used columns to be selected or whatever. I am using pg_query to scan the query and fix that automatically based on the used Ransack parameters (which the user can freely set as he wishes) and CanCan (which restricts which records he can read, update, des

[2021-04-06 15:55] lfittl commented on #209
@kaspernj Nice - thats a great use case!

And unfortunately that does mean you rely on the parse tree itself - so that'd require the patch in the protobuf gem to support customizing the nesting (the API is already there internally, it just needs to be made configurable from the Ruby side).

I also have plans to work on this, but a few other things on my plate right now. Two ways forward:

1) Inves

[2021-04-07 06:55] kaspernj commented on #209
@lfittl Would it be possible to support getting the result as a hash again until the issue is resolved? I would love to stay on the latest version :-)

[2021-04-11 06:13] kaspernj commented on #209
@lfittl Are there any updates on this? :-)

[2021-04-20 14:56] tbhockey opened #210 "Install fails on Apple M1 chip"
macOS 11.2.3
Ruby 2.6.6

Trace:
[code]

[2021-04-21 07:35] lfittl commented on #210
@tbhockey You need to either update to [1.3.0](https://github.com/pganalyze/pg_query/blob/main/CHANGELOG.md#130-----2020-12-28) or [2.0](https://github.com/pganalyze/pg_query/blob/main/CHANGELOG.md#202-----2021-03-31) for ARM support.

[2021-04-21 07:37] lfittl commented on #209
@kaspernj No time to work on this currently, though it will bubble up in priority at some point.

PRs welcome though - it should be relatively straightforward to add this to [pg_query_ruby.c](https://github.com/pganalyze/pg_query/blob/main/ext/pg_query/pg_query_ruby.c), e.g. named as `PgQuery.parse_json`.

Please also add a quick test in case you work on this :)

[2021-04-21 12:39] tbhockey commented on #210
@lfittl looks like that was it, thanks!

[2021-04-21 12:39] #210 closed

[2021-06-24 19:44] Tassosb commented on #209
For what it's worth, I think this is a blocker for me too. I'm using pg_query to infer dependencies between arbitrarily long/complex SQL statements to figure out what order to execute them in. I'll need to use the parse tree in Ruby, and I expect depth will sometimes exceed 64 levels.

[2021-07-04 00:39] VVD opened #215 "Fails to build version 2.0.3 - "unknown type name 'PgQueryProtobuf'""
FreeBSD 12.2 amd64, ruby 2.7.3.
1st error during build is:
[code]
Bug report for FreeBSD port databases/rubygem-pg_query: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=256741

What other info do you need?

[2021-07-04 19:34] lfittl commented on #215
@VVD Per the discussion on the FreeBSD bug report, this looks like a problem if `libpg_query` is also installed on the system and in the include path.

I think the problem might be that the system include paths get listed first in the generated Makefile, and therefore the installed `libpg_query` library takes precedence, which in this case is an older version of `libpg_query` (before the 2.0 relea

[2021-07-04 21:49] lfittl commented on #167
Closing this since no further updates - please let me know if this is still an issue on the most recent release.

[2021-07-04 21:49] #167 closed

[2021-07-04 22:05] lfittl commented on #215
@VVD I ended up releasing this with the 2.1.0 release - I'm fairly certain this resolves the problem, so I'll close this issue for now.

If you could confirm, and report back that would be great. We can reopen the issue in case this is still causing problems.

[2021-07-04 22:05] #215 closed

[2021-07-04 22:05] lfittl commented on #204
This was resolved upstream in the protobuf 3.17.0 release, which the pg_query 2.1.0 release now depends on, thus closing this issue.

[2021-07-04 22:05] #204 closed

[2021-07-04 22:54] VVD commented on #215
It build fine with this patch!
Thanks!

[2021-08-13 10:23] EQuincerot opened #223 "Normalization of type casting"
When using PgQuery.normalize on type casting:
[code]

I would expect something like:
[code]

What do you think?

[2021-08-23 10:11] prikha opened #224 "Help needed: Failed to build c-extension on CentOS image"
Hey folks! Thanks for the library!

May I ask for a tip on how to fix compilation errors for `>v2.0.0`.

Trying to install on CentOS image but gem installation fails with `for’ loop initial declarations are only allowed in C99 mode`

[code]

PS

- Tried to export `CFLAGS="$CFLAGS -std=c99"` with no luck.
- Tried to pull the git repo and run `make` in there. It failed with the same error.
- Tried t

[2021-08-30 23:03] kuahyeow opened #226 "Segfault on simple query (when GC runs ?)"
We at GitLab are using PgQuery to parse sql queries (to extract table name information) in our CI suite. Frequently, this segfaults. Please see https://gitlab.com/gitlab-org/gitlab/-/issues/339475 for full details

https://gitlab.com/gitlab-org/gitlab/blob/40f9110d0803f84d639889c14cf619a126581359/spec/support/database/prevent_cross_joins.rb#L33 is how we use it.

We suspect that garbage collection

[2021-08-30 23:05] kuahyeow commented on #226
Note that we tried the latest google-protobuf 3.18.0.rc.1 (which has moved the DSL to pure ruby in  https://github.com/protocolbuffers/protobuf/pull/8850), it still segfaults

[2021-08-30 23:55] stanhu commented on #226
Something is very odd. `statements.length` is 1, so the parse loop should run twice and exit the second time. However, it seems that `statements` may be garbage collected when this statement is hit, so the memory address is no longer valid: https://github.com/pganalyze/pg_query/blob/ccf4e298b6f7df0222e9eddabbb35a391b1cda9d/lib/pg_query/parse.rb#L103

The issue description points to a subselect ite

[2021-08-31 00:35] kuahyeow commented on #226
The sample reproduction script runs fine, without segfault in `pg_query` 1.3.0

[2021-08-31 05:43] stanhu commented on #226
It still crashes If I take the C extension `parse_protobuf` call out of the picture and load the protobuf bytes directly:

[code]

[pg_query_crash_proto.zip](https://github.com/pganalyze/pg_query/files/7081485/pg_query_crash_proto.zip)

I'm also seeing seg faults due to:

[code]

This suggests the garbage collector is visiting some Ruby pointer that's marked as `T_NONE` (nothing is there). Either

[2021-08-31 17:17] stanhu commented on #226
I suspect this is an issue with google-protobuf rather than the `libpg_query` or `pg_query`: https://github.com/protocolbuffers/protobuf/issues/8938

[2021-08-31 20:43] stanhu commented on #226
Closing in favor of the google-protobuf issue since there is a reproduction step that doesn't even involve pg_query: https://github.com/protocolbuffers/protobuf/issues/8938#issuecomment-909571960

[2021-08-31 21:41] #226 closed

[2021-09-01 02:21] kuahyeow commented on #226
BTW, I was able to workaround this issue in the meantime with our CI by disabling GC temporarily :

[code]

[2021-09-01 04:33] stanhu commented on #226
I submitted https://github.com/pganalyze/pg_query/pull/227 to workaround the Ruby bug described in https://bugs.ruby-lang.org/issues/18140#note-2.

[2021-09-23 15:19] jdenquin opened #228 "Decode force quote all identifiers"
Hello There,

I'm having a issue with the deparse feature, I want to keep all quotes from my original request on each identifiers.
Is there any way to do it by passing a params on the Ruby side?

I forked the repository and put the `quote_all_identifiers` variable to `true` on the C side to do it.

Cheers,
Jeremy

[2021-11-12 18:50] Tassosb commented on #209
This issue is still blocking us from upgrading to version 2, which we'd really like to do (there have been so many nice improvements since then!). We've confirmed several queries we currently parse exceed the 64 depth limit. We'd really need to go back to a max depth of 1000 levels.

I spent a little bit of time trying to do this:

But I've never touched C before and don't have the motivation to l

[2021-11-13 08:21] lfittl commented on #209
@Tassosb Thanks for bumping this up - I ended up investing the time to fix the root cause here, in the Ruby protobuf implementation: https://github.com/protocolbuffers/protobuf/pull/9218

With that in place, the change in pg_query is rather small: https://github.com/pganalyze/pg_query/pull/238

To test this change, you can do the following:

[code]

(note that you also need https://github.com/prot

[2021-11-15 19:23] Tassosb commented on #209
Amazing! Thank you @lfittl

After running `bundle install` with ^, I get an error when I try to load `google-protobuf`:
[code]
I'm on ruby 2.7.4 with bundler 1.17.0.  This issue seems maybe similar to the one addressed in [PR 9219](https://github.com/protocolbuffers/protobuf/pull/9219).

[2022-01-14 19:03] RodCardenas opened #242 "Release new pg_query gem version with the fixed google_protobufs gem"
The google_protobufs gem has a high security vulnerability requiring update to version 3.19.2 or later.

What steps need to be taken for a new release of the pg_query gem?

[2022-01-17 17:02] mvgijssel commented on #209
HackerOne is running into this problem as well! Any updates on this?

[2022-01-17 19:06] cmer commented on #242
See #243

[2022-01-29 02:02] lfittl commented on #209
@mvgijssel Unfortunately we're still waiting for https://github.com/protocolbuffers/protobuf/pull/9218

If you have time available, you can help with that change (it might need a rebase due to the recent ubp changes in that codebase), or investigate the JSON output method as described above.

[2022-01-29 02:18] lfittl commented on #242
@RodCardenas @cmer Released now as 2.1.3. Thanks!

[2022-01-29 02:18] #242 closed

[2022-02-16 20:55] jmo-qap opened #246 "Support PG 14"
As of 2021-09-30 postgres 14 was released: https://www.postgresql.org/about/news/postgresql-14-released-2318/

There's (even more) new JSON syntax along with several other FUNCTION/PROCEDURE syntax additions.

[2022-02-16 21:00] jmo-qap commented on #246
Meant for this to be in https://github.com/pganalyze/libpg_query

[2022-02-16 21:00] #246 closed

[2022-03-04 16:40] feliperaul opened #247 "Can't install with Ruby 3.1.1"
I'm getting this message when trying to install with latest ruby 3.1.1 on a Mac:

`google-protobuf-3.19.4-x86_64-darwin requires ruby version < 3.1.dev, >= 2.5, which is incompatible with the current version, ruby 3.1.1p18`

[2022-03-05 02:15] olleolleolle commented on #247
I guess that gem install google-protobuf also fails on Ruby 3.1.1 - if yes, then we are waiting for google-protobuf to support 3.1.1.

[2022-04-13 04:11] #209 closed

[2022-05-13 19:31] johnnyshields commented on #247
Ruby 3.1 is still not working on Windows. This PR should fix it: https://github.com/protocolbuffers/protobuf/pull/9963

[2022-06-10 18:07] uhoh-itsmaciek opened #250 "Does not recognize table references inside casts"
[code]

Expected the result here to include `bar` as well. A Postgres-style cast (`::bigint[]`) has the same issue.

[2022-07-26 23:55] uhoh-itsmaciek commented on #250
Fixed by https://github.com/pganalyze/pg_query/pull/252

[2022-07-26 23:55] #250 closed

[2022-09-10 01:25] aight8 opened #254 "Fail parse function creation DDLs with native function body"
Simple example:

[code]

This is working since postgres 14 - see docs https://www.postgresql.org/docs/current/sql-createfunction.html

[code]

[2022-09-15 09:05] nicmarti opened #255 "Can't install version 2.1.3 on MacOS 12.6 Monterey with ARM Apple Silicon"
pg_query version 2.1.3 won't install on MacOS 12.6 Monterey with an arm64 Ruby 3.1.2

Here is the error message extracted from a `bundle install`

[code]

More details about the environment :
[code]

Also if I try to run a `make` from the .rbenv folder =>

[code]

Any help or ideas are welcome

[2022-09-15 11:15] nicmarti commented on #255
I found one of my colluegue that has the same architecture/same os but for which it did work.
Here is a diff on the `Makefile` (note: I filtered the path so that the diffs is showing only what is different)

On the left : this Makefile compiles on my machine, on the right (pg_query_nic) is the one that does not work

[code]

[2022-09-15 11:29] nicmarti commented on #255
I see that `-undefined,dynamic_lookup` is missing on the version that does not compile.

[2022-09-15 19:39] mgallagher0 commented on #255
I've been having this same issue, I can install version 1.3.0 but not 2.1.3.

[2022-09-16 01:02] stanhu commented on #255
See https://bugs.ruby-lang.org/issues/19005 for a workaround.

[2022-09-16 01:04] stanhu commented on #255
This makes me wonder if the visibility hiding in https://github.com/pganalyze/pg_query/blob/e35800c29f3a9a06ffe5bd2d54d67923a4390c79/ext/pg_query/pg_query_ruby.c#L17 is needed.

[2022-09-16 01:34] stanhu commented on #255
I've confirmed that reverting https://github.com/pganalyze/pg_query/pull/232 works on macOS. In Linux, `-undefined,dynamic_lookup` is the default, but it's not always available on macOS and other platforms.

[2022-09-16 04:43] stanhu commented on #255
https://github.com/pganalyze/pg_query/pull/256 fixes this issue.

[2022-09-16 05:59] namrata-vts commented on #255
I can workaround the problem by doing:

gem install pg_query -- --with-ldflags="-Wl,-undefined,dynamic_lookup"

[2022-09-17 04:22] stanhu commented on #255
It looks like there is an upstream Ruby fix for this problem: https://github.com/ruby/ruby/commit/6898984f1cd1b0375c3da44d7832724489e0e470

It'd be nice if this were backported.

[2022-09-17 08:45] #255 closed

[2022-09-17 16:28] skpravien opened #258 ""user" table_name is not considered by the library"
Hi,
In our sql query, the table_name is "user". But this is not been considered when I parsed and try to get the table_names.
`irb(main):010:0> query = "select * from user"
=> "select * from user"
irb(main):011:0> @parsed_query = PgQuery.parse(query)
=> #<PgQuery:0x00000009d56638 @query="select * from user", @tree=[{"SelectStmt"=>{"targetList"=>[{"ResTarget"=>{"val"=>{"ColumnRef"=>{"fields"=>[{"A_

[2022-09-17 18:09] lfittl commented on #258
The parse tree seems to indicate that your query is actually interpreted as "SELECT * FROM current_user()".

I think this is an escaping issue in your input - if you put the `user` in double quotes, it works as expected:

[code]

[2022-09-19 07:38] nicmarti commented on #255
Thanks for the quick fix

[2022-10-20 03:41] jonyscathe opened #261 "Seg Fault due to new protobuf release"
See: https://github.com/protocolbuffers/protobuf/issues/10792

Until this issue is resolved (though 🤞 it will be fixed quickly), would it be possible to get a quick release with the protobuf dep set to >=3.19.2,  < 3.21.8 ?

[2022-10-20 15:55] asadakbar commented on #255
Leaving this for anyone else that hits this issue - I couldn't update my pg_query version so downgrading the Xcode version from 14 to 13 fixed this issue for me.

[2022-10-21 05:02] lfittl commented on #261
@jonyscathe Thanks for the report - this seems to be an Alpine related issue that they'll hopefully fix quickly.

Since this is hopefully a matter of a few days only, is there a reason you couldn't pin the protobuf version explicitly in your Gemfile?

[2022-10-21 05:11] lfittl commented on #255
@asadakbar Thanks for adding the note - curious what was challenging about updating your pg_query version? (maybe another gem requiring a different protobuf gem version?)

[2022-10-24 09:29] chalmagean opened #262 "Cannot install on M1 Mac"
Hi,

I'm trying to install `pg_query` on an Apple M1 Mac (OSX 12.6)

[code]

Here's the error I'm getting:

[code]

[2022-10-25 00:10] jonyscathe commented on #261
Hi,
Yes that was what I ended up doing.
A bit of a pain as I didn't have a Gemfile (was just using sqlint to lint some SQL, which then used pg_query, which then used protobuf).
But at least now I've learnt about gemfiles.
And it looks like a new version of protobuf will be out shortly with a fix.

[2022-10-25 00:10] #261 closed

[2022-10-26 07:07] chalmagean commented on #262
Got it working with `xcode-select --install`.

[2022-10-26 07:07] #262 closed

[2022-11-02 17:27] aheritier commented on #262
Same issue for me today with pg_query 2.1.4 on an Apple M1 Mac (OSX 13) with xcode 14.1:

[code]

[2022-11-02 19:17] mscrivo commented on #262
This should be reopened, the build is broken with xcode CLT 14 and 14.1 and if you're on macOS 13, you cannot downgrade. I've been unable to find any workaround to get it to compile.

[2022-11-02 20:15] aheritier commented on #262
Yes. I tried to reinstall Xcode and it's tools but I don't find any solution. If I downgrade Xcode, Homebrew doesn't work.

[2022-11-02 21:02] stanhu opened #263 "Unable to build with macOS SDK 13.0"
XCode 14.1, which was released yesterday, now ships with macOS SDK 13.0.

`pg_query` does not build at the moment. This is the output of a `bundle exec rake compile`:

<details>
<pre>
In file included from gram.y:46:
In file included from /Users/stanhu/github/pg_query/ext/pg_query/include/postgres.h:46:
In file included from /Users/stanhu/github/pg_query/ext/pg_query/include/c.h:1330:
In file incl

[2022-11-02 21:07] stanhu commented on #263
For some reason, commenting out that `#include <netdb.h>` from `port.h` seems to make the build work:

[code]

[2022-11-02 21:12] lfittl commented on #263
Strange - possibly something that gets defined before the file gets included, which then causes errors?

Happy to fast track a release if we can find out a bit better why this is failing. It might be worth trying a regular Postgres build on the new XCode to see if this is an upstream problem, or related to what pg_query is doing.

[2022-11-02 21:20] antmachine commented on #263
Same issue here

[2022-11-02 21:20] stanhu commented on #263
Good suggestion. It appears to be failing in the same way in the PostgreSQL `REL_14_1` tag but not in `master`.

https://github.com/postgres/postgres/commit/98e93a1fc dropped `netdb.h`, so I wonder if that fixed it.

[2022-11-02 21:21] lfittl commented on #263
@stanhu Excellent, thanks for finding that - let me see if I can make the necessary libpg_query change and then do the release dance.

[2022-11-02 21:42] stanhu commented on #263
Oh, wow, it's failing because on line 937 of https://raw.githubusercontent.com/pganalyze/pg_query/main/ext/pg_query/src_backend_parser_gram.c, there is:

[code]

This REF gets used in this macro:

[code]

[2022-11-02 21:45] lfittl commented on #263
A-ha! Thanks for finding that (again!) -- here is the upstream commit that fixes it:

https://github.com/postgres/postgres/commit/bc7a40b42eef717026d29b687157cd0af5adaadb

I'll work on getting that backported into pg_query today.

[2022-11-02 22:17] stanhu commented on #263
Ah, good find. A number of my colleagues reported this compilation issue with macOS 13.0 SDK beta, but I thought it was a beta issue. Glad it's already fixed upstream, though the next PostgreSQL releases are in about a week. Thanks for the quick turnaround on this.

[2022-11-03 00:02] lfittl commented on #263
FYI, fix in libpg_query is merged - now working on the releases 🚂

[2022-11-03 00:06] lfittl commented on #262
Tracked in https://github.com/pganalyze/pg_query/issues/263 - we should have a release out shortly.

[2022-11-03 00:41] #263 closed

[2022-11-03 00:58] lfittl commented on #263
This has been released as 2.2.0!

Thanks @stanhu & others for reporting this :)

[2022-11-03 01:00] lfittl commented on #262
This has been released as 2.2.0!

[2022-11-03 01:10] stanhu commented on #263
Thanks @lfittl! Confirmed 2.2.0 installs fine.

[2022-11-03 05:19] aheritier commented on #262
Thanks for the quick fix.

[2022-11-14 16:47] fbriand-docto opened #266 "`DO ...` statement is normalized as an unparsable string"
Hi,

We need to parse normalized queries but we have an issue when we `.normalize` a `DO ...` statement since 2.2.0:
[code]

We did not have the issue in pg_query 2.1.4 back then:
[code]

[2022-11-14 17:29] lfittl commented on #266
@fbriand-docto Thanks for reaching out!

This was an intentional change in 2.2.0 to avoid security-related issues with generated DO statements that contain personally identifiable information, such as produced by Sequelize (the Node.js ORM).

However I can see how the fact that this no longer parses is not ideal. I'll review probably get the parser adjusted to support this case (we already have a

[2022-11-15 09:58] fbriand-docto commented on #266
@lfittl Thanks for your answer.

We use `pg_query` to analyze the queries, so for example to know if the query is a select or a write.

AFAIK we have 2 usages of the DO statement which are both used in the initialization of our tests. One to setup a read-only user and the other one to empty all tables.

[2022-11-28 07:26] #224 closed

[2022-11-30 09:49] skpravien commented on #258
Thanks for pointing it out. But is there any other approach for this? Instead of having an additional quotes around the table_name? For other table_names, this works fine without the quotes around it. We can't specify that for "user" table, wrap it around an quote.

[2022-11-30 21:49] lfittl commented on #258
I'm not sure I'm following - your query has a different intent when there are no quotes, as you are not referencing that "user" table, you are referencing the current_user function through the "user" alias.

Where are you getting your query texts from? I'm surprised why you don't have correct escaping on the input queries you are working with.